/*CONFIGURAZIONE GLOBALE*/
body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #eaf3f8;
    text-align: center;
    color: #333;
}

h1 {
    color: #1B6E98;
}

#mainLayoutGrid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    justify-content: center;
}

.canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#gameCanvas, #playerCanvas {
    display: block;
    border: 2px solid #1B6E98;
    background-color: #ffffff;
}

#gameStatus, #playerInterface {
    background-color: #fff;
    border: 1px solid #b3d9ff;
    border-radius: 5px;
    padding: 20px;
    max-height: 420px;
}

#playerInterface {
    margin-top: 6rem;
}

/*selettore di ruleset*/
#ruleset-selectors {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    min-width: 250px;
    margin: 15px 0;
}

/*contenitore esterno*/
.rule-block {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 6px;
    cursor: pointer;
}

.rule-block:hover {
    background-color: #f0f8ff;
}

.rule-block label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.rule-block input[type="checkbox"] {
    display: none;
}

.input-pattern, .output-cell {
    display: flex;
    justify-content: center;
    margin: 4px 0;
}

/*celle*/
.cell {
    width: 14px;
    height: 14px;
    background-color: white;
    border: 1px solid #555;
    margin: 1px;
    box-sizing: border-box;
}

/*celle attive input*/
.input-pattern .cell.active {
    background-color: #1B6E98;
}

/*output attivo*/
.rule-block input[type="checkbox"]:checked ~ .output-cell .cell.output {
    background-color: #1B6E98;
}

.arrow {
    margin: 4px 0;
}

a {
    margin: 0 10px;
    color: #1B6E98;
    font-weight: bold;
    text-decoration: none;
}

/*account*/
.account-links {
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px;
    margin: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
}

#username {
    margin: 10px;
    color: #1B6E98;
    font-weight: bold;
    font-size: 1.3rem;
}

/*bottoni*/
#logoutButton {
    padding: 8px 16px;
    background-color: #455A64;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}

#deleteAccountButton {
    padding: 8px 16px;
    background-color: #E57373;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}

#scoreDisplay {
    font-weight: bold;
}
